.card{
    border: 1px solid black;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    min-width: 500px;
}

.serie-data{
    display: flex;
    align-items: center;
    gap: 16px;
}

.serie-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.title{
    font-size: xx-large;
    font-weight: bold;
}

.subtitle{
    display: flex;
    gap: 32px;
}

.button-container{
    display: flex;
    gap:32px;
}

#series-container{
    display: flex;
    flex-direction: column;
    gap:16px;
    align-items: flex-start;
    padding: 16px;
}

.loading-pizza{
    height: 30px;
    display: none;
}